* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	color: white;
}
.container {
	text-align: center;
}

/* IE centering hacks */
#iehack {
	position: absolute;
	_top: 50%;
	_left: 50%;
}
#image {
	_position: relative;
	_top: -50%;
	_left: -50%;
}

img, #text {
	vertical-align: middle;
}

#previous {
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 1;
}
#next {
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 1;
}
#close {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
}

#preload {
	position: absolute;
	left: -2000px;
	top: -2000px;
	width: 1px;
	height: 1px; 
/*	left: 10px;
	top: 10px;
	width: 20px;
	height: 20px; */
}

/* IE5/6 madness */
html {
	overflow: hidden;
}
body
{
	height: 100%;
}
