table {
	border-collapse: collapse;
}
body {
	font: message-box;
	padding: 0px;
	color: buttontext;
	background-color: buttonface;
}
input, select {
	font: message-box;
}
tr, td {
	font: message-box;
	margin: 0px;
	padding: 0px;
}
p.question, tr.alternative {
	margin-top: 15px;
	margin-bottom: 5px;
}
p.warning {
	color: red;
}
